
div.sticky1{
   position: -webkit-sticky;
   position: sticky;
   top: 0px;
   padding: 40px;
   /*background-color: white;
   border: 0px*/
   }
p0{
   	  	color:grey;
   	  	font-size: 20px;
   	  	font-family: -apple-system, "Mont", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons;
        padding: 40px;
        text-transform: initial;
        }
p1{
   	  	color:grey;
   	  	font-size: 15px;
   	  	font-family: -apple-system, "Mont", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons;
        padding: 40px;
        padding-bottom: 0px;
        padding-top: 0px;
        }
p2{
   	  	color:grey;
   	  	font-size: 15px;
   	  	font-family: -apple-system, "Mont", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons;
        padding: 40px;
        padding-bottom: 0px;
        padding-top: 0px;
        }

p3{
   	  	color:grey;
   	  	font-size: 15px;
   	  	font-family: -apple-system, "Mont", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons;
        padding: 40px;
        padding-bottom: 0px;
        padding-top: 0px;
        }
p4{
   	  	color:grey;
   	  	font-size: 15px;
   	  	font-family: -apple-system, "Mont", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons;
        padding: 40px;
        padding-bottom: 0px;
        padding-top: 0px;
        }        

p{
   	  	color:grey;
   	  	font-size: 13px;
   	  	font-family: -apple-system,  "Mont", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons;
        padding-top: 0px;
        padding: 40px;
        width: 300px;
        height: 100px;
        padding-top:50px;

a{
     	color: lightgrey;
     	text-decoration: none;
     	padding: 40px;
     	padding-top: 0px;
     }

     
        }